#app-footer {
  box-shadow: 0 -1px 15px rgba(#000, 0.10);

  .info-wrapper {
    color: #090A0A;

    .title {
      margin: unset;
      font-size: 18px;
    }

    .social-wrapper {
      img {
        transition: all 0.2s ease;

        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}
