.card-container {
  padding: 20px 0;
  border-bottom: 1px solid var(--border-color);
  cursor: pointer;
  transition: all 0.3s ease;

  //&:hover {
  //  background-color: rgba(255, 255, 255, 0.02);
  //  padding-left: 15px;
  //  padding-right: 15px;
  //  border-radius: 8px;
  //}

  .card-header {
    .avatar {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;
    }

    .author-info {
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 14px;

      .author-name {
        font-weight: 500;
        color: var(--text-primary);
      }

      .author-username,
      .post-date {
        color: #888;
        font-size: 13px;
      }
    }
  }

  .card-content {
    //margin-top: 12px;

    .card-title {
      font-size: 20px;
      font-weight: 600;
      line-height: 1.4;
      color: var(--text-primary);
      display: -webkit-box;
      -webkit-line-clamp: 1;
      margin-bottom: 0;
      -webkit-box-orient: vertical;
      overflow: hidden;
      word-wrap: break-word;
      word-break: break-word;
      overflow-wrap: break-word;
    }

    .card-description {
      color: var(--text-primary);
      font-weight: normal;
      font-size: 15px;
      line-height: 1.6;
      padding: 12px 0;
      //margin-bottom: 16px;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .card-image {
      height: 160px;
      min-width: 160px;
      max-width: 160px;
      // min-width: 200px - ensures the image never gets smaller than 200px
      // max-width: 200px - ensures the image never gets larger than 200px
      // flex-shrink: 0 - prevents the image from shrinking when the description is long
      width: 200px;
      flex-shrink: 0;
      border-radius: 8px;
      overflow: hidden;
      margin-bottom: 12px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s ease;
      }
    }

    &:hover .card-image img {
      transform: scale(1.05);
    }

    .card-footer {
      .card-tags {
        display: flex;
        gap: 8px;
        flex-wrap: wrap;

        .tag {
          opacity: 0.7 !important;
          color: var(--text-primary);
          font-size: 13px;
          padding: 4px 8px;
          background-color: var(--bg-btn);
          border-radius: 4px;
          transition: all 0.2s ease;

          &:hover {
            background-color: var(--hover-tag);
            color: var(--text-primary);
          }
        }
      }

      .card-stats {
        .likes {
          display: flex;
          align-items: center;
          gap: 4px;
          color: #888;
          font-size: 14px;
          transition: color 0.2s ease;

          i {
            font-size: 16px;
          }

          &:hover {
            color: #ff4081;
          }
        }
      }
    }
  }
}
