@use "./variables" as *;
@use "sass:color";

.bottom-btn {
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
  padding: 10px 24px;
  display: flex;
  justify-content: space-between;
  background: white;
  border-top: 1px solid #0000000d;

  .start {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .end {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  /* Dynamic behavior when only .end is present */
  &:has(.end:only-child) {
    justify-content: flex-end;
  }

  button {
    border-radius: 10px !important;

    &.post {
      background-color: green;
      color: white;
    }

    &.default {
      padding: 6px;
      background-color: #ececec;
      border: none;
      outline: none;
      cursor: pointer;

      mat-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        color: #72777a;
      }
    }

    &.not-ready {
      background-color: #e9801f;
      color: white;
    }

    &.ready-to-post {
      background-color: #23c16b;
      color: white;
    }

    &.print {
      background-color: #48a7f8;
      color: white;
    }

    &.duplicate {
      background-color: #6b4eff;
      color: white;
    }

    &.back {
      border: 1px solid #ff5247;
      color: #ff5247;
    }

    &.cancel {
      border: 1px solid #9db2ce;
      color: #404446;
    }

    &.close {
      background-color: #ff5247;
      color: #fff;
    }

    &.save {
      border: 1px solid #363795;
      color: #363795 !important;

      &:hover {
        background-color: rgba(54, 55, 149, 0.1);
      }
    }

    &.save-close {
      background-color: #363795;
      color: white;

      &:hover {
        background-color: #363795;
      }
    }

    &.save-new {
      background-color: #363795;
      color: white;

      &:hover {
        background-color: #363795;
      }
    }

    &.new-post {
      background-color: #363795;
      color: white;
    }

    &.edit {
      background-color: #ffb323;
      color: white !important;

      &:hover {
        background-color: #ffb323;
      }
    }

    &.post {
      background-color: #363795;
      color: white;

      &:hover {
        background-color: #363795;
      }
    }
  }

  .mat-mdc-menu-item-text {
    font-size: 14px !important;
  }

  .mat-icon {
    font-size: 20px !important;
  }

  .post-icon {
    transform: rotate(-45deg);
  }

  .mat-mdc-menu-item .mat-icon {
    margin-right: 0;
  }
}

.top-btn {
  display: flex;
  gap: 12px;

  a {
    border-radius: 10px !important;

    .mat-icon {
      margin-right: 8px;
    }

    &.default {
      padding: 6px;
      background-color: #ececec;
      border: none;
      outline: none;
      cursor: pointer;

      mat-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        color: #72777a;
        margin-right: 0 !important;
      }
    }

    &.post-batch {
      background-color: #48a7f8;
      color: white;
    }

    &.post-batch-history {
      background-color: #239eab;
      color: white;
    }

    &.new {
      background-color: #363795;
      color: white;
    }
  }

  button {
    border-radius: 10px !important;

    .mat-icon {
      margin-right: 8px;
    }

    &.default {
      padding: 6px;
      background-color: #ececec;
      border: none;
      outline: none;
      cursor: pointer;

      mat-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        color: #72777a;
        margin-right: 0 !important;
      }
    }

    &.post-batch {
      background-color: #48a7f8;
      color: white;
    }

    &.post-batch-history {
      background-color: #239eab;
      color: white;
    }

    &.new {
      background-color: #363795;
      color: white;
    }
  }
}

.btn-submit {
  width: 100%;
  padding: 10px 0;
  border-radius: 30px;
  margin-top: 10px;
  height: 61px;
  color: white;
  background-color: $primary-color;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: color.adjust($primary-color, $lightness: -10%);
  }
}
