// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
@use "./theme-colors";

@font-face {
  font-family: "Content";
  src: url("../../public/fonts/Content-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../../public/fonts/Inter-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/Poppins-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Playfair Display";
  src: url("../../public/fonts/PlayfairDisplay-Regular.ttf");
  font-weight: normal;
}
html {


  //customer mat button color
  --mdc-icon-button-icon-color: var(--mat-sys-on-primary-container);
  --mdc-icon-button-state-layer-size: 36px;
  @include mat.theme((color: (theme-type: light, primary: theme-colors.$primary-palette, tertiary: theme-colors.$tertiary-palette,), typography: 'Roboto, "Helvetica Neue", sans-serif, KhmerOSBattambang', density: 0,));
  @include mat.core-overrides((option-label-text-line-height: 1rem,));
  @include mat.form-field-density(-5);
  @include mat.form-field-overrides((container-text-size: 0.9rem, outlined-input-text-placeholder-color: rgba(0, 0, 0, 0.45),));
  @include mat.select-overrides((trigger-text-size: 0.9rem, placeholder-text-color: rgba(0, 0, 0, 0.5),));
  @include mat.button-density(0);

  .mat-mdc-form-field-icon-prefix > .mat-icon,
  .mat-mdc-form-field-icon-suffix > .mat-icon {
    padding: 0 2px 0 10px;
    line-height: 25px;
  }

  .mat-mdc-option {
    height: 40px;
    min-height: 40px;
  }

  .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(.mat-mdc-option-multiple) {
    background-color: rgba(0, 0, 0, 0.12);
  }

  .mat-mdc-option .mat-pseudo-checkbox {
    display: none;
  }

  @include mat.chips-overrides((outline-color: #ffffff,
  ));
}

html,
body {
  height: 100%;
}

body, button, input {
  margin: 0;
  font-family: "Inter", "Content", sans-serif, system-ui;
  font-size: 14px;
}
.auth-title {
  font-family: "Playfair Display", system-ui , sans-serif;
  font-weight: 600;
}

.mat-mdc-dialog-surface {
  border-radius: 15px !important;
}

.mat-calendar {
  background-color: white !important;
  border-radius: 10px;
  box-shadow: 0 2px 4px -1px #0003, 0 4px 5px #00000024, 0 1px 10px #0000001f;
}
/* Good structure: */
//font-family: [Your Fonts], [System Fonts], [Generic Family];
/* Example: */
//font-family: "Inter", system-ui, sans-serif;
