@use "./custom-bootstrap";
@use "./custom-material";
@use "./variables" as *;
@use "./button";

html,
body {
  box-sizing: border-box;
  // background-color: $white-color;
  transition: background-color 0.3s ease;
}

body {
  margin: 0;
}

*,
*:before,
*:after {
  text-underline-offset: 4px;
  box-sizing: inherit;
}

:root {
  --text-primary: #000;
  --bg-btn: rgba(238, 238, 238);
  --border-color: #eeeeee;
  --signin-bg: #242424;
  --bg-primary: #ffffff;
  --hover-sign-bg: #33333e;
  --hover-tag: #e0e0e0;
  --interest-story-btn: rgba(0, 0, 0, 0.05);
  --interest-story-text: rgba(0, 0, 0, 0.05);
}

[data-theme="dark"] {
  --text-primary: #fff;
  --bg-btn: rgba(40, 40, 40);
  --border-color: #333;
  --signin-bg: #ffffff;
  --hover-sign-bg: #c6c6d5;
  --bg-primary: #242424;
  --hover-tag: #3a3a3a;
  --interest-story-btn: rgba(255, 255, 255, 0.05);
  --interest-story-text: rgba(255, 255, 255, 0.05);
}

.app-loading {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #00000052;
  top: 0;
  left: 0;
  z-index: 999999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 120px;
  }

  h2 {
    color: rgb(236, 236, 236);
  }
}

.c-container {
  width: 100%;
  padding: 0 1rem;
  //max-width: 1600px;
  margin: 0 auto;
}

.mat-mdc-dialog-surface {
  background-color: #fff !important;

  input {
    font-size: 16px;
    width: 100%;
    box-shadow: unset;
    outline: unset;
    height: 48px;
    padding: 0 20px;
    border-color: rgba(#000, 0.15);
    border-radius: 50rem;
  }
}

.article-text-overflow {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.mdc-line-ripple {
  &::before,
  &::after {
    border: none !important;
  }
}

.mdc-text-field {
  padding: 6px 20px 6px 0 !important;
  border-radius: 4px !important;
  background-color: var(--bg-btn) !important;
  font-family: "Inter", "Content", sans-serif, system-ui !important;

  input {
    color: var(--text-primary) !important;
  }
  ::placeholder {
    color: var(--text-primary) !important;
  }
}

.mat-mdc-menu-content,
.mat-mdc-menu-content .mat-mdc-menu-item .mat-mdc-menu-item-text {
  font-family: "Inter", "Content", sans-serif, system-ui !important;
}

::placeholder {
  color: rgba(0, 0, 0, 0.3) !important;
}

mat-error {
  font-family: "Inter", "Content", sans-serif, system-ui !important;
}

.ng-otp-input-wrapper {
  & > div {
    justify-content: center;
  }
}

.pb-120px {
  padding-bottom: 120px;
}

.target-link {
  cursor: pointer;
  text-decoration: none;
  position: relative;
  padding: 4px 0;

  &.dark {
    &::before {
      background-color: #000;
    }
  }

  &.light {
    &::before {
      background-color: #fff;
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: #0575e6;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }

  &.active {
    &::before {
      transform: scaleX(1);
    }
  }

  &:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }
}

.mat-mdc-dialog-content,
.mat-mdc-snack-bar-label {
  font-family: "Inter", "Content", sans-serif, system-ui !important;
}

.mat-mdc-dialog-surface {
  border-radius: unset !important;
  background-color: transparent !important;
}

swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  overflow: hidden;
}
