<div class="trending-container">
  <h4 class="section-title">
    Trending
    <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
<!--         [class.rotate-down]="!isPositive()">-->
      <path d="M3.55291 15.4191L6.38134 10.5201L11.2803 13.3485L15.523 6.00007"
            [attr.stroke]="changeColor()"
            stroke-width="1.4"
            stroke-linecap="round"
            stroke-linejoin="round"/>
      <path d="M12.625 6.77649L15.5228 6.00003L16.2992 8.89781"
            [attr.stroke]="changeColor()"
            stroke-width="1.4"
            stroke-linecap="round"
            stroke-linejoin="round"/>
    </svg>
<!--    <span [style.color]="changeColor">{{ changePrefix }}{{ absChange }}%</span>-->
    <span class="fs-6" [style.color]="changeColor()">{{changePrefix()}}{{absChange}}%</span>

  </h4>
  <div class="trending-list">
    <div
      *ngFor="let article of trendingArticles; let i = index"
      class="trending-item"
    >
      <div class="trending-header d-flex align-items-center mb-2">
        <img
          [src]="article.author?.avatar"
          alt="Author"
          class="trending-avatar me-2"
        />
        <div class="trending-author-info">
          <span class="trending-author-name">{{ article.author?.name }}</span>
          <span class="trending-username">{{
            getAuthorUsername(article)
          }}</span>
          <span class="trending-date">{{
            getFormattedDate(article.published_at)
          }}</span>
        </div>
      </div>
      <div class="trending-content">
        <span class="trending-number">{{ i + 1 }}.</span>
        <h5 class="trending-title">{{ article.title }}</h5>
      </div>
    </div>
  </div>
</div>
