<div class="auth-card-wrapper pt-5">
  <div class="auth-card">
    <h1 class="auth-title">{{ title }}</h1>

    <form class="auth-form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field
        *ngIf="isSignUp"
        appearance="outline"
        class="custom-field"
      >
    <mat-icon matPrefix class="field-icon">person_outline</mat-icon>
        <input type="text" matInput placeholder="Full Name" formControlName="name" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="custom-field">
        <mat-icon matPrefix class="field-icon">mail_outline</mat-icon>
        <input type="email" matInput placeholder="Email" formControlName="username" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="custom-field">
        <mat-icon matPrefix class="field-icon">lock_outline</mat-icon>
        <input
          [type]="hidePassword() ? 'password' : 'text'"
          matInput
          placeholder="Password"
          formControlName="password"
        />
        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="togglePasswordVisibility($event)"
        >
          <mat-icon
            >{{ hidePassword() ? "visibility_off" : "visibility" }}
          </mat-icon>
        </button>
      </mat-form-field>

      <button
        mat-flat-button
        class="fw-medium mt-3 mx-auto sign-in-btn"
        type="submit"
      >
        {{ btnText }}
      </button>
    </form>

    <div class="divider opacity-50">
      <span class="divider-text fw-bold">OR</span>
    </div>

    <button class="google-btn" type="button" (click)="onGoogleClick()">
      <img src="/icons/google.png" alt="Google" class="google-icon" />
      <span> Continue With Google </span>
    </button>

    <p class="footer-text">
      Don't have and account ?
      <a routerLink="/auth/signup" class="footer-link">Join us Now</a>
    </p>
  </div>
</div>
